/* universal selector - removes default margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #ADA8B6;
    --dark-color: #1A1423;
}


/* hero style section starts */
.hero {
    background-image: url("../../images/hero.jpeg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;
}
/* hero style section ends */


/* utility style start */
.lilly-light-text {
    color: var(--light-color);
}

.lilly-light-background {
    background-color: var(--light-color);
}

.lilly-dark-text {
    color: var(--dark-color);
}

.lilly-dark-background {
    background-color: var(--dark-color);
}
/* utility style end */