/* universal selector - removes default margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #ADA8B6;
    --dark-color: #1A1423;
}
/* universal selector */


/* header style section starts */
.navbar-item:hover {
    background-color: var(--light-color) !important;
    color: var(--dark-color) !important;
}

.hover-ignore:hover {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
}
/* header style section ends */


/* hero style section starts */
.hero {
    background-image: url("../../assets/images/hero.jpeg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;
}
/* hero style section ends */


/* portfolio projects style section starts */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project img {
    width: 100%;
}
/* portfolio projects style section ends */


/* resume work style section starts */
.work-list {
    list-style: square;
    margin-left: 30px;
    padding-left: 10px;
}
/* resume work style section ends */


/* utility style start */
.lilly-light-text {
    color: var(--light-color);
}

.lilly-light-background {
    background-color: var(--light-color);
}

.lilly-dark-text {
    color: var(--dark-color);
}

.lilly-dark-background {
    background-color: var(--dark-color);
}
/* utility style end */

@media screen and (min-width: 768px) {
    /* applies to screens above 768px */
    header a {
        align-items: flex-end !important;
        margin-bottom: 20px;
    }

    .project {
        flex: 0 1 300px;
        margin: 2%;
    }
}

@media screen and (min-width: 980px) {
    /* applies to screens above 980px */
    .project {
        flex: 0 1 500px;
        margin: 2%;
    }
}